body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#p1,#p2,#p3,#p4 {
	width:20px;
	height: 20px;
	position: absolute;
	display: block;
	background-color: #2196F3;	
}

#p1 {
	top: 100px;
	left: 200px;
}
#p2 {
	top: 100px;
	left: 800px;
}
#p3 {
	top: 400px;
	left: 500px;
}

#p4 {
	top: 100px;
	left: 500px;
}

#char {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50px;
	left: 50px;
	background-color: red;
}

#backbutton a, #inventorybutton a, #title, a:visited {
	color: white;
	font-size: 1.5em;
		text-decoration: none;
}

#background {
	background-color: green;
	display: block;
	position: relative;
margin: auto;
top: 150px;
	width: 1000px;
	height: 600px;
}

#backbutton {
position: absolute;
left: 50px;
top: 50px;
width: 75px;
height: 30px;
background-color: red;
}

#inventorybutton {
	position: absolute;
right: 50px;
top: 50px;
width: 75px;
height: 30px;
background-color: red;
}

#nextbutton {
	z-index: 1;
	
		position: absolute;
right: 115px;
bottom: 40px;
width: 75px;
height: 30px;
background-color: red;
}


#title {
	position: relative;
	display: block;
	color: white;
	top: 50px;
	width: 100px;
	height: 100px;
	margin: auto;
}

#textbox {
background-color: #2196F3;	
	width: 800px;
	height: 175px;
	position: absolute;
	display: block;
	bottom: 25px;
	left: 100px;
	padding: 0px;
}

#itemgrid{
	display: grid;
	grid-template-columns: auto auto auto auto;
	position: relative;
	width: 600px;
	height: 325px;
	background-color: blue;
	margin: auto;
	background-color: #2196F3;
}

#itemgrid .items {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#itemgrid .items img {
	display: none;
}

#descbox {
	position: relative;
	margin: auto;
	top: 35px;
	background-color: #2196F3;
	width: 600px;
	height: 100px;
	display: none;
}

